<div class="itemWrapper">
  <p class="title">{{ post.title }}</p>
  <p>{{ post.body }}</p>

  <app-comment-list
    [comments]="commentsList"
    *ngIf="showComments"
  ></app-comment-list>
  <div class="action-buttons">
    <button (click)="showComments = !showComments" class="commentsButton">
      <span *ngIf="!showComments">Show Comments</span>
      <span *ngIf="showComments">Hide Comments</span>
    </button>
    <button (click)="handleClick()" class="updateButton">Update post</button>

    <button (click)="handleDelete()" class="deleteButton">Delete post</button>
  </div>
</div>
